[workspace]

resolver = "3"

members = [
    "commons",
    "snippets",
    "demo_svc",
    "demo-notes/service",
    "demo-notes2/server",
    "demo-notes2/client",
    "catalog-svc/server",
    "catalog-svc/client",
    "helloworld-tonic",
]

[workspace.package]
edition = "2024"

[workspace.dependencies]
anyhow = "1.0.94"
tracing = "0.1"

tracing-subscriber = { version = "0.3", features = ["env-filter", "time"] }
tokio = { version = "1.42", features = ["full"] }
async-trait = "0.1.85"

uuid = { version = "1.11.0", features = ["v4", "serde"] }