name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Run gradle parent build
        run: cd demo-notes2 && ./gradlew build
      - name: Install non-Cargo deps
        run: sudo apt-get install -y cmake protobuf-compiler
      - name: Build
        run: cargo build
      - name: Lint
        run: cargo clippy --all-targets -- --deny warnings
      - name: Setup containers for tests
        run: docker compose -f docker-compose.yml up -d
      - name: Run tests
        env:
          DATABASE_URL: "postgres://postgres:mypassword@127.0.0.1:5432/postgres"
        run: cargo test --verbose

#  docker:
#    name: Build-Push Docker
#    runs-on: ubuntu-latest
#    needs: build
#    if: github.event_name != 'pull_request'
#
#    steps:
#    - name: List files in the repository
#      run: |
#        ls ${{ github.workspace }}
#        echo "----"
#        ls .

      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: bdom/rust-demo-service-temp

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}


